body {
  background-color: var(--white);
  position: relative;
}

#discover {
  display: flex;
  justify-content: center;
  align-items: center;
}
#discover-left img,
#discover-right img {
  width: 100%;
}
#discover-left,
#discover-right {
  position: relative;
}

.discover-info {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: white;
  z-index: 2;
}
.text-overlay-p {
  font-size: 1rem;
}
.text-overlay-h2 {
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#discover-btn {
  background-color: var(--white);
  color: var(--dark);
  padding: 0.5rem 1.5rem;
  border-radius: 100px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  margin-top: 0.7rem;
  transition: all 0.2s ease-in;
}
#shop-it {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 10rem;
  gap: 10px;
}
.item {
  position: relative;
  width: 33%;
}
.shop-it-img {
  width: 100%;
  transition: all 0.2s ease-in;
}
.shop-it-btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: var(--white);
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 100px;
  transition: all 0.2s ease-in;
}

#shoes {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 400px;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}
.shoe {
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 8px;
  min-width: 0;
  position: relative;
  transition: all 0.2s ease-in;
}
#shoe-grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.shoe-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: var(--dark);
}
.switch {
  padding: 0.5rem;
  border-radius: 100%;
  background-color: #e4e4e4;
  cursor: pointer;
}
.switch img {
  width: 1.6rem;
}
.switches {
  display: flex;
  gap: 1.3rem;
}
.shoe img {
  width: 100%;
}
.shoe-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: var(--white);
  font-size: 1.3rem;
}
footer {
  flex-direction: column;
  padding: 4rem 2rem 1rem 2rem;
}
#footer-logo {
  width: 8rem;
}
.f-first-r {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#social-img {
  width: 100%;
}
.socials {
  display: flex;
  gap: 0.5rem;
}
#social {
  width: 2.5rem;
  border: 1px solid var(--dark);
  border-radius: 100px;
  padding: 0.5rem;
}
.f-second-r {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5rem;
  justify-items: start;
  align-items: start;
  padding-top: 3rem;
}
.f-second-r ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  gap: 0.5rem;
}
.f-item-name {
  font-size: 1.45rem;
  margin-bottom: 1rem;
}
.f-second-r ul li a {
  text-decoration: none;
  color: #444444;
  font-size: 1.1rem;
  transition: all 0.2s ease-in;
}
.footer-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}
.f-third-r {
  margin-top: 2rem;
}
@media (max-width: 1070px) {
  #shop-it {
    padding: 1rem 1rem;
  }
  .f-second-r {
    gap: 3rem;
  }
}
@media (max-width: 700px) {
  .text-overlay-h2 {
    font-size: 1.3rem;
  }
  .text-overlay-p {
    font-size: 0.75rem;
  }
  .f-item-name {
    margin-bottom: 0.4rem;
  }
  .f-second-r {
    gap: 2.3rem;
  }
  .shop-it-btn {
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
  }
  #shoes {
    grid-auto-columns: 300px;
  }
  #discover-btn {
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
  }
}
@media (max-width: 800px) {
  .carousel-item {
    height: 90vh;
  }
  .carousel-item img {
    object-fit: cover;
    object-position: 45% 50%;
    width: 100%;
    height: 100%;
  }
  #discover {
    flex-direction: column;
  }
  #shop-it {
    flex-direction: column;
  }
  .item {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .item {
    width: 100%;
  }
}
@media (max-width: 360px) {
  .shoe-header {
    flex-direction: column;
    text-align: center;
  }
  .f-first-r {
    flex-direction: column;
    gap: 1.5rem;
  }
  .f-second-r {
    padding-top: 1.3rem;
  }
}
@media (max-width: 310px) {
  .f-second-r {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}
