:root {
  --white: #f2f3f4;
  --dark: #181818;
  --main-font: "Josefin Sans", sans-serif;
  --nike-font: "Nike", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

html {
  scroll-behavior: smooth;
}
nav ul li a:hover::after {
  width: 100%;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  top: 0;
  position: sticky;
  z-index: 10;
  background-color: var(--white);
  opacity: 0;
  animation: fadeIn 0.75s ease-in forwards;
}

#logo-img {
  width: 3.5rem;
  cursor: pointer;
}
nav ul {
  display: flex;
  gap: 0.4rem;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.right-side-header,
nav,
.logo {
  flex: 1;
}
nav ul li a {
  text-decoration: none;
  display: inline-block;
  color: var(--dark);
  font-size: 1.05rem;
  width: 6rem;
  text-align: center;
  padding: 0.5rem 0;
  transition: all 0.2s ease-in;
}
li {
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0;
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  background: var(--dark);
  height: 2px;
  transition: width 0.2s ease-in;
}
nav ul li a:hover {
  letter-spacing: 1px;
}

#social,
.f-second-r,
#favourites,
.search,
.right-side-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-side-header {
  gap: 2rem;
  justify-content: flex-end;
}
.search {
  transition: all 0.2s ease-in;
}
.search:hover {
  backdrop-filter: brightness(95%);
}
.search {
  gap: 0.3rem;
  padding-left: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  border-radius: 100px;
  height: 2rem;
}
#search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#search-button img {
  width: 1.6rem;
}
#search-input {
  height: 100%;
  width: 13rem;
  background-color: transparent;
  border: none;
}
#search-input:active,
#search-input:focus {
  outline: none;
}
#favourites-icon {
  width: 1.5rem;
}

.resp-navigation {
  position: fixed;
  background-color: #fffffff5;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  overflow-y: hidden;
  padding: 3rem 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 5rem;
  display: none;
}
.first-row-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  opacity: 0;
  animation: fadeIn 0.9s ease-in forwards;
}
.second-row-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  opacity: 0;
  animation: fadeIn 0.9s ease-in forwards;
}
.second-row-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.second-row-nav ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
  background-color: #f2f3f467;
  border-bottom: 1px solid #1818182c;
  text-decoration: none;
  color: var(--dark);
  font-size: 1.4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}
.no-scroll {
  overflow: hidden;
  height: 100vh; /* osigurava da ne možeš skrolati */
}
.third-row-nav {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  opacity: 0;
  animation: fadeIn 0.9s ease-in forwards;
}
.nav-btn {
  padding: 0.5rem;
  border-bottom: 1px solid #181818;
}

.shoe:hover {
  cursor: pointer;
  transform: translateY(-4px);
}
.f-second-r ul li a:hover {
  color: var(--dark);
}
.close-nav img:hover {
  cursor: pointer;
}
.hambi {
  display: none;
}
.shop-it-btn:hover,
#discover-btn:hover {
  transform: translateY(-2px);
  background-color: var(--dark);
  color: var(--white);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.shop-it-img:hover {
  transform: scale(1.005);
}

.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}
@keyframes fadeOpacity {
  0% {
    opacity: 1;
    display: flex;
    position: absolute;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: 0;
    background-color: transparent;
    pointer-events: none;
  }
}
@keyframes fromBottom {
  0% {
    transform: translateY(300%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(300%);
  }
}

@keyframes fromTop {
  0% {
    transform: translateY(-300%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-300%);
  }
}

@media (max-width: 1070px) {
  .right-side-header,
  nav {
    display: none;
  }
  .hambi {
    display: block;
  }
}
@media (max-width: 1350px) {
  .logo {
    flex: 0;
  }
  .right-side-header {
    flex: 0;
  }
}
